$title-red: #f40711;
$bg-red: #f40711;
$f-size-30: 3rem;
$f-size-18: 1.8rem;
$f-size-15: 1.5rem;
$f-size-12: 1.2rem;
$f-size-10: 1rem;
$f-size-9: 0.9rem;
$f-size-8: 0.8rem;
$f-size-7: 0.7rem;
$f-size-6: 0.6rem;
$f-size-5: 0.5rem;
$f-size-4: 0.4rem;
$text-bold: bold;
